<a href="https://colab.research.google.com/github/kopalsharma19/AI-Project-Sem-V-J045/blob/master/Homework/HW_J045_040720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python If-Else**

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    if 1<=n<=100:
            
        if n%2 != 0 :
            print("Weird")
        elif n%2 == 0 and 2<= n <=5:
            print("Not Weird")
        elif n%2 == 0 and 6<= n <=20:
            print("Weird")
        elif n%2 ==0 and n>20 :
            print("Not Weird")
    
    else:
        pass

# **Arithmetic Operators**

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    if 1<=a<=pow(10,10) and 1<=b<=pow(10,10):

        print(a+b)
        print(a-b)
        print(a*b)

# **Python: Division**

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a//b)
    print(a/b)

# **Loops**

In [ ]:
if __name__ == '__main__':
    n = int(input())

    if 1<=n<=20:

        for i in range(0,n):
            print(pow(i,2))

# **Print Function**

In [5]:
if __name__ == '__main__':
    n = int(input())

    for i in range(1,n+1):
        print(i,end='')

133
123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119120121122123124125126127128129130131132133

# **List Comprehensions**

In [18]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    lst = [[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k != n]
    print(lst)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]